apiVersion: agilestacks.com/v1alpha1
kind: JupyterHubNotebook
metadata:
  name: ${application.name}
spec:
  image: ${component.buildbox.docker.image}
  token: ${application.token}
  githubRepo: ${component.git.remote}
  githubToken: ${component.github.token}
