app-templates/react-frontend/package.json

**.elaborate
**.state
**.tfstate
.terraform

phase0/.dist
.hubconfig
**.tmp
components/minio-bucket/.mc
components/minio-bucket/job-mb.yaml
.envrc
components/argo-sensor-artifact/sensor.yaml
components/github-webhook/payload.json
components/github-webhook/ingress.yaml

app-templates/argo-workflows/argo-exec.yaml
app-templates/argo-workflows/argo-build.yaml
app-templates/argo-workflows/argo-workflow.yaml
app-templates/argo-workflows/argo-workflow-bucket.yaml
app-templates/argo-workflows/argo-workflow-webhook.yaml
app-templates/argo-workflows/argo-workflow-bucketevents.yaml
app-templates/argo-workflows/rbac.yaml
app-templates/argo-workflows/webhook-gateway.yaml
app-templates/argo-workflows/webhook-sensor.yaml
app-templates/argo-workflows/webhook-gateway-configmap.yaml
app-templates/argo-workflows/.hub/rbac.yaml

app-templates/react-frontend-next/package.json
app-templates/react-frontend-next/.hub/templates/*.yaml
app-templates/react-frontend-next/.hub/hub.yaml
app-templates/react-frontend-next/.hub/user.yaml
app-templates/react-frontend-next/.hub/components/*
.asibot*

# nodejs-backend ignores
app-templates/nodejs-backend/.hub/hub.yaml
app-templates/nodejs-backend/.hub/components
app-templates/nodejs-backend/.hub/manifests
app-templates/nodejs-backend/.hub/templates/*.yaml

.DS_STORE
