**.elaborate
**.state
**.tfstate
**.tmp
.terraform
.hubconfig
.envrc
.DS_STORE

**.pid

phase0/.dist

# applications components
components/minio-bucket/.mc
components/minio-bucket/job-mb.yaml
components/argo-sensor-artifact/sensor.yaml
components/github-webhook/payload.json
components/github-webhook/ingress.yaml

# argo-workflows
app-templates/argo-workflows/argo-exec.yaml
app-templates/argo-workflows/argo-build.yaml
app-templates/argo-workflows/argo-workflow.yaml
app-templates/argo-workflows/argo-workflow-bucket.yaml
app-templates/argo-workflows/argo-workflow-webhook.yaml
app-templates/argo-workflows/argo-workflow-bucketevents.yaml
app-templates/argo-workflows/rbac.yaml
app-templates/argo-workflows/webhook-gateway.yaml
app-templates/argo-workflows/webhook-sensor.yaml
app-templates/argo-workflows/webhook-gateway-configmap.yaml
app-templates/argo-workflows/.hub/rbac.yaml

# react-es2018
app-templates/react-es2018/package.json
app-templates/react-es2018/.hub/templates/*.yaml
app-templates/react-es2018/.hub/templates/*.json
app-templates/react-es2018/.hub/*.yaml
app-templates/react-es2018/.hub/components/*
.asibot*

# nodejs-backend
app-templates/nodejs-backend/package.json
app-templates/nodejs-backend/.hub/hub.yaml
app-templates/nodejs-backend/.hub/components
app-templates/nodejs-backend/.hub/templates/*.yaml
app-templates/nodejs-backend/.hub/templates/*.json

# spring boot
app-templates/spring-boot/.hub/hub.yaml
app-templates/spring-boot/.hub/components
app-templates/spring-boot/.hub/templates/*.yaml

# golang-backend
app-templates/golang-backend/.hub/hub.yaml
app-templates/golang-backend/.hub/components/*
app-templates/golang-backend/.hub/templates/*.yaml

# kubeflow-pipeline
app-templates/kubeflow-pipeline/.awsconfig
app-templates/kubeflow-pipeline/.dockerconfigjson
app-templates/kubeflow-pipeline/.kubeconfig
app-templates/kubeflow-pipeline/.python-version
app-templates/kubeflow-pipeline/gcr.json
app-templates/kubeflow-pipeline/harbor.json
app-templates/kubeflow-pipeline/kaniko.sh

# python-flask
app-templates/python-flask/.hub/hub.yaml
app-templates/python-flask/.hub/components
app-templates/python-flask/.hub/templates/*.yaml
app-templates/kubeflow-pipeline/*.csv
Dockerfile.dataprep
app-templates/kubeflow-pipeline/tmp
components/s3fs
app-templates/kubeflow-pipeline/data
app-templates/kubeflow-pipeline/Dockerfile.flask

components/kaniko/github-secret.yaml
components/kaniko/kaniko-job.yaml
app-templates/kubeflow-pipeline/.hub/components
app-templates/kubeflow-pipeline/.hub/generated.yaml
*.pem
app-templates/kubeflow-pipeline/.hub/templates/bucket-pv.yaml
app-templates/kubeflow-pipeline/.hub/templates/notebook-config.yaml
app-templates/kubeflow-pipeline/.hub/templates/notebook-keyring.yaml
app-templates/kubeflow-pipeline/.hub/templates/notebook.yaml
app-templates/kubeflow-pipeline/.hub/templates/rbac.yaml
