apiVersion: v1
kind: ConfigMap
metadata:
  name: ${application.name}-nb-vars
  labels:
    app: "${application.name}"
    bucket: "${application.bucket.name}"
data:
  APPLICATION_NAME: "${application.name}"
  DOCKER_REGISTRY: "${application.jupyter.kernel.docker.registry}/library"
  BUCKET_ENDPOINT: "${application.bucket.endpoint}"
  BUCKET_NAME: "${application.bucket.name}"
