apiVersion: v1
kind: Secret
type: superhub.io/jupyter-keyring
metadata:
  name: ${application.name}-nb-secrets
stringData:
  S3_ACCESS_KEY: ${application.bucket.accessKey}
  S3_SECRET_KEY: ${application.bucket.secretKey}
