apiVersion: v1
kind: ConfigMap
metadata:
  name: ${application.name}-nb-config
  labels:
    app: "${application.name}"
    bucket: "${application.bucket.name}"
data:
  NAME: "${application.name}"
  NAMESPACE: "${application.namespace}"
  DOCKER_REGISTRY: "${application.jupyter.kernel.docker.registry}"
  BUCKET_ENDPOINT: ${application.bucket.endpoint}
