@import './variables.scss';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: $background-dark;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  transition: background-color .2s, color .2s;
}

@include theme(dark) {
  .App-header {
    background-color: $background-dark;
    color: white;
  }
}

@include theme(light) {
  .App-header {
    background-color: $background-light;
    color: #444;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.asi-theme-switch {
  position: absolute;
  right: 3vmin;
  top: 3vmin;
  width: 3.5vmin;
  height: 3.5vmin;
}

.asi-theme-toggle {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform .7s, opacity .7s;

  &-image {
    pointer-events: none;
  }
}

@include theme(dark) {
  .asi-theme-toggle-light {
    transform: rotateZ(25deg);
    opacity: 0;
    pointer-events: none;
  }
}
@include theme(light) {
  .asi-theme-toggle-dark {
    transform:  rotateZ(-25deg);;
    opacity: 0;
    pointer-events: none;
  }
}
