$side: 10vmin;
$border:  $side * .035;

$orange: #ffb62d;
$red: #ff2e2b;
$blue: #2773e6;
$green: #a6da2f;

$background-dark: #282c34;
$background-light: #eaf8ff;

$theme-transition: .2s;

$default-mode: dark;

@mixin theme($mode) {
    @if $mode == $default-mode {
        @media (prefers-color-scheme: $mode) and (prefers-color-scheme: no-preference) {
            .asi-theme-default {
                @content;
            }
        }
    } @else {
        @media (prefers-color-scheme: $mode) {
            .asi-theme-default {
                @content;
            }
        }
    }
    .asi-theme-#{$mode} {
        @content;
    }
}