{
  "name": "${component.github.webhook.name}",
  "active": true,
  "events": "${component.github.webhook.events.json}",
  "config": {
    "url": "${component.ingress.protocol}://argo.${component.ingress.urlPrefix}.${dns.domain}/webhooks/${component.github.webhook.name}",
    "content_type": "json"
  }
}
