$text-color: #42186f;

html,
body {
  font-family: 'Palanquin-Regular', 'sans serif';
}

* {
  color: $text-color;
}

li {
  margin-bottom: 12px;
}

.flex {
  display: flex;
}

@font-face {
  font-family: 'Palanquin-Regular';
  src: url('assets/fonts/palanquin-regular.ttf');
}

