source_up

export AWS_PROFILE=demo02

export DESCRIPTION=test
export ORGANIZATION=agilestacks-apps
export TOKEN=37810d611308322b2073a7601facdd18e47ef668
export AGILESTACKS_TOKEN=75e43dd2d24dd39b6c205a600b47d642daed4d04
export TEMPLATE=java-backend
