apiVersion: v1
kind: Secret
metadata:
  name: ${component.kaniko.name}-git
  namespace: ${component.kaniko.namespace}
type: superhub.io/git
stringData:
  clone_url: "${component.git.remote}"
  username: "${component.git.username}"
  password: "${component.git.password}"
