$navigation-color: #fff;
$navigation-background: rgba($navigation-color, .2);
$active-navigation-background: rgba($navigation-color, .4);

.navigation {
    font-weight: bold;

    .navigation-item {
        color: $navigation-color;
        padding: 6px;
        border-radius: 3px;
        margin-right: 5px;

        &:hover {
            text-decoration: none;
            background: $navigation-background;
        }
    }

    .navigation-item-active {
        background: $active-navigation-background;
    }
}
