@import '../../variables.scss';

.asi-teaser {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 70%;
    perspective: 100vmin;
    z-index: 100;

    &-title-content,
    &-stacks {
        transition: color .3s;
    }
    &-title-content {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &-keywords {
        display: flex;
    }

    &-keyword {
        flex: 1;
        position: relative;
        padding: 0 .7em;
    }
}

@include theme(dark) {
    .asi-teaser-title-content {
        color: #ffa538;
    }
    .asi-teaser-stacks {
        color: white;
    }

}

@include theme(light) {
    .asi-teaser-title-content {
        color:#f7941b;
    }
    .asi-teaser-stacks {
        color: #1a3c6c;
    }
}
